#box{
  background-color: #AC66CC;
  padding: 10px;
  margin: auto;
  width: 600px;
  border: 4px solid black;
  box-shadow: 5px 5px black;
}

h1{
  font-family: 'Staatliches', cursive;
  color: #000000;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  margin: auto;
  background-color: #F6B8B8;
  box-shadow: 5px 5px black;
}

p{
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

#gen{
  font-family: 'Staatliches', cursive;
  color: #000000;
  font-size: 30px;
  text-align: center;
  border-size: 4px;
  border-color: #000000;
  margin: 0 auto;
  display: block;
}

#gen:hover{
  background: #FFED99;
  transition-duration: 0.4s;
}
#gen:active{
  box-shadow: 4px 4px 4px 0 #000000;
}

#theme{
  background-color: #FFED99;
  padding: 10px;
  margin: auto;
  width: 600px;
  border: 4px solid black;
  box-shadow: 5px 5px black;
}

h2{
  font-family: 'Lato', sans-serif;
  color: #AC66CC;
  font-size: 30px;
  text-align: center;
}

body{
  background-image: linear-gradient(to right, #FFED99, #F6B8B8, #AC66CC, #3B14A7);
}
